@import 'variables.scss';

* {
    font-size: 15px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    max-width: 375px;
    margin: 0 auto;
    background-color: $very-light-gray;
}

button.attach-another-section {
    display: none;
    //it might add section to prove that bem works fine
}

@import 'cards-feature';
@import 'footer';